:root {
	--color-white: #f9fafa;
	--color-black: #141518;
	--color-blue: #1a9ff0;
	--color-darkBlue: #073d5d;
	--color-grey: #dee0e0;
	--color-darkGrey: #969696;
	--color-red: #cc473d;
	--color-yellow: #fff6b0;
	--color-shadow: rgba(0, 0, 0, 0.2);
	--size-avatar: 38px;

	--color-main-1: #030603;
	--color-main-2: #dbf487;
	--color-secondary: #ede9e0;
	--color-green: #1a3d21;

	--box-shadow: rgba(0, 0, 33, 0.07) 0px 16px 22.4px 4.8px, rgba(0, 0, 33, 0.05) 0px 3.2px 16px 0px,
		rgba(0, 0, 33, 0.07) 0px 0px 1px 0px;
}

body {
	margin: 0;
	padding: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif; */
	font-family: 'Roboto';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
	color: var(--color-white);
	background-color: #9fb162;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234c7c39'/%3E%3Cstop offset='1' stop-color='%234c7c39' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23425f2f'/%3E%3Cstop offset='1' stop-color='%23425f2f' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230f2111'/%3E%3Cstop offset='1' stop-color='%230f2111' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239FB162'/%3E%3Cstop offset='1' stop-color='%239FB162' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231A3D21'/%3E%3Cstop offset='1' stop-color='%231A3D21' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23030603'/%3E%3Cstop offset='1' stop-color='%23030603' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
	box-sizing: border-box;
	transition: 0.2s ease-in-out;
}

button {
	background-color: transparent;
	outline: 0;
	border: 0;
	color: var(--color-white);
	cursor: pointer;
}

.app {
	width: 100vw;
	max-width: 500px;
	min-height: 100vh;
	height: 100%;
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	box-shadow: var(--box-shadow);
}

.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 8px;
	margin-bottom: 16px;
	background-color: var(--color-main-1);
	box-shadow: var(--box-shadow);
}

.header:hover {
	-webkit-transform: translate3D(0, -3%, 0);
	-moz-transform: translate3D(0, -3%, 0);
	-ms-transform: translate3D(0, -3%, 0);
	transform: translate3D(0, -3%, 0);
}

@media screen and (max-width: 410px) {
	.user-menu {
		flex-direction: column;
		gap: 8px !important;
	}
}

.header-welcome {
	font-size: 1.3rem;
	color: var(--color-main-2);
}

.user-menu {
	display: flex;
	gap: 16px;
}

.logo {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	align-items: center;
	cursor: pointer;
}

.logo-img {
	width: 64px;
	height: 64px;
}

.logo-name {
	font-size: 2rem;
	margin: 8px;
}

.logo-user {
	font-size: 0.8rem;
	color: var(--color-main-2);
	font-weight: 500;
	padding-top: 8px;
}

.menu {
	color: var(--color-white);
	display: flex;
	align-items: center;
}

.menu-item {
	color: var(--color-white);
	font-weight: bold;
}

.banner {
	margin: 8px;
	padding: 8px;
	font-size: 1rem;
	font-weight: bold;
}

.banner-red {
	background-color: var(--color-red);
}

.banner-green {
	background-color: var(--color-green);
}

.auth-form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: var(--color-black);
	padding: 16px 32px;
}

.form-signup {
	margin-top: 8px;
}

.tweets {
	height: 100%;

	overflow-y: auto;
	color: var(--color-black);
	padding: 16px;
	list-style: none;
	/* Firefox */
	scrollbar-width: 6px;
	scrollbar-color: var(--color-darkGrey);
	scrollbar-face-color: var(--color-main-1);
}

.tweets::-webkit-scrollbar {
	/* Safari and Chrome */
	background-color: var(--color-darkGrey);
	width: 6px;
}

.tweets::-webkit-scrollbar-thumb {
	/* Safari and Chrome */
	background-color: var(--color-main-1);
}

.tweets-empty {
	font-size: 2rem;
	font-weight: bold;
	color: var(--color-grey);
	text-align: center;
}

.tweet {
	box-shadow: 0 4px 8px 0 var(--color-shadow);
	transition: 0.3s;
	margin-bottom: 16px;
	padding: 8px;
	padding-bottom: 14px;
	display: flex;
	justify-content: space-between;
	border-radius: 8px;
}

.tweet:hover {
	box-shadow: 0 8px 16px 0 var(--color-shadow);
}

.tweet-container {
	display: flex;
	width: calc(100% - 30px);
}

.avatar-container {
	position: relative;
}
.avatar-img {
	border-radius: 50%;
	object-fit: cover;
}

.avatar-txt {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-grey);

	border-radius: 50%;
	font-size: 1.5rem;
	font-weight: bold;
}

.avatar-viewer-container {
	z-index: 111111;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	width: 220px;
	height: 220px;
	background-color: var(--color-white);
	border-radius: 16px;
	box-shadow:
		rgba(0, 0, 33, 0.07) 0px 16px 22.4px 4.8px,
		rgba(0, 0, 33, 0.05) 0px 3.2px 16px 0px,
		rgba(0, 0, 33, 0.07) 0px 0px 1px 0px;
}
.avatar-viewer {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 16px;
}
.tweet-body {
	margin: 0px 8px;
	width: 100%;
}
.tweet-content {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.tweet-drawing {
	border: 1px solid rgba(170, 170, 170, 0.295);
	width: 280px;
	height: 280px;
	border-radius: 8px;
	margin-top: 12px;
}

@media screen and (max-width: 410px) {
	.tweet-drawing {
		width: 210px;
		height: 210px;
	}
}

.tweet-name {
	font-size: 0.9rem;
	font-weight: bold;
}

.tweet-username,
.tweet-date {
	font-size: 0.7rem;
	margin-left: 4px;
	color: var(--color-main-1);
	font-weight: bold;
}

.tweet-username {
	cursor: pointer;
	transition: 200ms;
}

.tweet-username:hover {
	background: var(--color-yellow);
}

.tweet-date {
	color: var(--color-darkGrey);
}

.tweet-detail-btn {
	display: block;
	width: 100%;
	width: calc(100% - 40px);
	text-align: left;
	padding: 8px 0 0 0;
	font-size: 1rem;
	word-wrap: break-word;
	color: var(--color-black);
}

.tweet-form {
	display: flex;
	gap: 8px;
	align-items: center;
	width: 100%;
	padding: 4px 16px;
}

.tweet-form img {
	margin-top: 0;
	width: 44px;
	height: 44px;
}

.tweet-form-help-text {
	width: 100%;
	margin: 0;
	padding: 4px 16px;
	font-size: 0.8rem;
	text-align: center;
	color: var(--color-darkGrey);
}

.tweet-input {
	width: 100%;
	margin-right: 4px;
}

.tweet-action {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.tweet-action-btn {
	font-size: 1.1rem;
	font-weight: bold;
	color: var(--color-main-1);
	transition: transform 300ms;
}

.tweet-delete:hover {
	transform: scale(1.5);
}

.edit-tweet-form {
	padding-top: 8px;
}

.edit-tweet-form-action {
	display: flex;
	gap: 8px;
	justify-content: right;
	margin-top: 8px;
}

.form-btn-update,
.form-btn-cancel {
	font-size: 0.8rem;
	background: var(--color-main-1);
	font-weight: bold;
	padding: 4px;
}
.form-btn-cancel {
	margin-left: 8px;
	background: var(--color-red);
}

.user-preview {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin: 8px 0;
}

.user-name {
	color: var(--color-black);
	text-align: center;
}

.info {
	color: var(--color-black);
	padding: 0 20px;
}

.info a {
	color: var(--color-main-1);
}

.info a:visited,
.info a:hover {
	color: var(--color-green);
}

#painter,
#mobile-painter {
	position: absolute;
	top: 60%;
	right: 0;
	z-index: 11111;
	background-color: #ffffff;
	padding: 14px 18px 18px;
	border-radius: 16px;
	box-shadow: var(--box-shadow);
}

#mobile-painter {
	position: fixed;
	top: 0;
	left: 0;
}
#mobile-painter canvas,
#painter canvas {
	border: 1px solid var(--color-main-1);
}
.painter-color-palette {
	display: flex;
	justify-content: right;
	margin-bottom: 4px;
}

.painter-selected-color {
	width: 24px;
	height: 24px;
	background: transparent;
}

#drawingBoard {
	display: flex;
	justify-content: center;
}

.painter-button-group {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-top: 14px;
}
