:root {
	--color-white: #f9fafa;
	--color-black: #141518;
	--color-blue: #1a9ff0;
	--color-darkBlue: #073d5d;
	--color-grey: #dee0e0;
	--color-darkGrey: #969696;
	--color-red: #cc473d;
	--color-green: #7aa300;
	--color-yellow: #fff6b0;
	--color-shadow: rgba(0, 0, 0, 0.2);
	--size-avatar: 38px;
}

body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif; */
	font-family: 'Roboto';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--color-darkBlue);
	display: flex;
	justify-content: center;
	margin: 0;
	color: var(--color-white);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
	box-sizing: border-box;
}

button {
	background-color: transparent;
	outline: 0;
	border: 0;
	color: var(--color-white);
	cursor: pointer;
}

.app {
	width: 100vw;
	max-width: 500px;
	height: 100vh;
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	box-shadow:
		0 5px 30px 0 rgb(0 0 0 / 20%),
		0 5px 20px 0 rgb(0 0 0 / 19%);
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='66'%3E%3Cpath transform='translate(-130.2 18) rotate(8.1 1409 581) scale(0.9988420000000001)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='22' transform='translate(-118.5 87) rotate(15.600000000000001 800 450) scale(1.02267)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(44.7 -166.5) rotate(145.5 401 736) scale(1.02267)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='20'%3E%3Cpath transform='translate(522 -13.799999999999999) rotate(3.4499999999999997 150 345) scale(0.953614)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='44' transform='translate(-232.5 -228) rotate(162 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-404.4 123.6) rotate(27 1400 132) scale(0.895)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-black);
	padding: 8px;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.logo-img {
	width: 32px;
	height: 32px;
}

.logo-name {
	font-size: 2rem;
	margin: 8px;
}

.logo-user {
	font-size: 0.7rem;
	color: var(--color-blue);
	padding-top: 8px;
}

.menu {
	color: var(--color-white);
}

.menu-item {
	color: var(--color-white);
	font-weight: bold;
}

.banner {
	margin: 8px;
	padding: 8px;
	font-size: 1rem;
	font-weight: bold;
}

.banner-red {
	background-color: var(--color-red);
}

.banner-green {
	background-color: var(--color-green);
}

.auth-form {
	display: flex;
	flex-direction: column;
	color: var(--color-black);
	padding: 16px 32px;
}

.form-btn {
	font-size: 1.2rem;
	background: var(--color-blue);
	font-weight: bold;
	padding: 4px;
}

.form-btn-small {
	font-size: 0.8rem;
}

.auth-form-btn {
	margin: 16px;
}

.form-input {
	font-size: 1rem;
	margin: 4px 0;
}

.form-input:focus {
	outline: 2px dotted var(--color-blue);
}

.form-signup {
	margin-top: 8px;
}

.tweets {
	height: 100%;
	overflow-y: auto;
	color: var(--color-black);
	padding: 16px;
	list-style: none;
	/* Firefox */
	scrollbar-width: 6px;
	scrollbar-color: var(--color-darkGrey);
	scrollbar-face-color: var(--color-blue);
}

.tweets::-webkit-scrollbar {
	/* Safari and Chrome */
	background-color: var(--color-darkGrey);
	width: 6px;
}

.tweets::-webkit-scrollbar-thumb {
	/* Safari and Chrome */
	background-color: var(--color-blue);
}

.tweets-empty {
	font-size: 2rem;
	font-weight: bold;
	color: var(--color-grey);
	text-align: center;
}

.tweet {
	box-shadow: 0 4px 8px 0 var(--color-shadow);
	transition: 0.3s;
	margin-bottom: 16px;
	padding: 8px;
	display: flex;
	justify-content: space-between;
}

.tweet:hover {
	box-shadow: 0 8px 16px 0 var(--color-shadow);
}

.tweet-container {
	display: flex;
	width: 100%;
}

.avatar-img {
	width: var(--size-avatar);
	height: var(--size-avatar);
	border-radius: 50%;
}

.avatar-txt {
	width: var(--size-avatar);
	height: var(--size-avatar);
	background-color: var(--color-grey);
	border-radius: 50%;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: var(--size-avatar);
}
.tweet-body {
	margin: 0px 8px;
	width: 100%;
}

.tweet-name {
	font-size: 0.9rem;
	font-weight: bold;
}

.tweet-username,
.tweet-date {
	font-size: 0.7rem;
	margin-left: 4px;
	color: var(--color-blue);
	font-weight: bold;
}

.tweet-username {
	cursor: pointer;
	transition: 200ms;
}

.tweet-username:hover {
	background: var(--color-yellow);
}

.tweet-date {
	color: var(--color-darkGrey);
}

.tweet-form {
	display: flex;
	width: 100%;
	padding: 4px 16px;
	background-color: var(--color-grey);
}

.tweet-input {
	width: 100%;
	margin-right: 4px;
}

.tweet-action {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tweet-action-btn {
	font-size: 1.1rem;
	font-weight: bold;
	color: var(--color-blue);
	transition: transform 300ms;
}

.tweet-delete:hover {
	transform: scale(1.5);
}

.edit-tweet-form-action {
	float: right;
	margin-top: 4px;
}

.form-btn-update,
.form-btn-cancel {
	font-size: 0.8rem;
	background: var(--color-blue);
	font-weight: bold;
	padding: 4px;
}
.form-btn-cancel {
	margin-left: 8px;
	background: var(--color-red);
}
